<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/calendar.css"/>
</head>
<html lang="en">
<body ng-cloak>
<div ng-cloak class="container">
    <div ng-cloak ng-init="initRound()">
        <div ng-cloak ng-show="isRoundInProgress()">
            <div>
                <p>Game {{game.game_name}} playing</p>
                <ul>
                    <li>{{userIdToUserName[teams.A.player1]}} and {{userIdToUserName[teams.A.player2]}}</li>
                    <li>{{userIdToUserName[teams.B.player1]}} and {{userIdToUserName[teams.B.player2]}}</li>
                    <li ng-show="showTeamC()">{{userIdToUserName[teams.C.player1]}} and {{userIdToUserName[teams.C.player2]}}</li>
                </ul>
                <p>Player to play next: {{userIdToUserName[currentRound.player_to_play]}}</p>
            </div>
            <h3>Table:</h3>
            <table ng-cloak border="1">
                <tr ng-cloak>
                    <td ng-cloak colspan="{{currentSet.cards_left}}">{{getLastCardPlayed()}}</td>
                </tr>
                <tr ng-cloak>
                    <td ng-cloak ng-repeat="card in currentSet.cards">
                        <button type="button" class="btn btn-primary btn-xs" ng-cloak ng-click="playCard(card)">{{card.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-cloak ng-show="isChangeCardTime()">
            <div>
                Select the card you want to exchange with your team member<br/>
                By the way: New round will be started by {{userIdToUserName[currentRound.player_to_play]}}
            </div>
            <table ng-cloak border="1">
                <tr ng-cloak>
                    <td ng-cloak ng-repeat="card in currentSet.cards">
                        <button type="button" class="btn btn-primary btn-xs" ng-cloak ng-click="changeCard(card)">{{card.value}}</button>
                    </td>
                </tr>
            </table>
        </div>
        <button style="margin-top:50px" type="button" class="btn btn-primary" ng-show="showFinishGameButton()" ng-cloak ng-click="showFinishGame()">Finish Game</button>
    </div>
</div>
</body>
</html>
